body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

#addProject{
  display: block;
  position: relative;
  left: 65%;
  border: 0.5px solid purple;
  box-shadow: inset 0 0 5px 1px;
  background-color: plum;
}


.modal-content{
background-color: aqua;
margin: 10px auto;
padding: 20px;
width: 80%;
border: 2px solid green;
}

form {
  background-color: pink;
}



